{
    "root": true,
    "parser": "babel-eslint",
    "extends": "airbnb-base",
    "env": {
        "browser": true,
        "node": true,
        "es6": true,
        "mocha": true,
        "jest": true,
    },
    "globals": {
        "__DEV__": true,
        "__WECHAT__": true,
        "__ALIPAY__": true,
        "App": true,
        "Page": true,
        "Component": true,
        "wx": true,
        "getApp": true,
    },
    "settings": {
        "import/resolver": {
            "webpack": {
                "config": "webpack.config.babel.js"
            }
        }
    }
}
